.hidden {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

/* NORMALIZE-STYLES */

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  min-width: 100%;
  object-fit: cover;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* COMMON */

.container {
  width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding: 0 15px;
  }
}

/* HEADER */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list,
.header-address {
  display: none;
}

.nav-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  display: block;
  padding: 16px 0;
}

.logo-part {
  color: #2e2f42;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .nav-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link.underlining {
    position: relative;
  }

  .nav-link.underlining::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .header-address {
    font-style: normal;
    display: block;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .header-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover,
  .nav-link:focus {
    color: #404bbf;
  }

  .header-link:hover,
  .header-link:focus,
  .nav-link.underlining {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .address-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .header-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* MOBILE MENU */

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;

  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  stroke: #2e2f42;
  stroke-width: 1px;
  padding: 0px;
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.1);
  top: 24px;
  right: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.mobile-menu-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
  margin-bottom: 168px;
}

.navigation-list-item-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.mobile-menu-navigation-list
  .navigation-list-item:first-child
  .navigation-list-item-link {
  color: #404bbf;
}

.navigation-list-item-link:active {
  color: #404bbf;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-decoration: none;
  margin-bottom: 48px;
}

.mobile-menu-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
}

.mobile-menu-list .mobile-menu-item:first-child .mobile-menu-link {
  color: #404bbf;
}

.mobile-menu-link:active {
  color: #404bbf;
}

.mobile-menu-link-icon-list {
  display: flex;
  justify-content: space-between;
}

.mob-men-soc-media-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #f4f4fd;
}

/* SECTION-ONE */

.section-one {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-size: cover;
  background-position: center;
  max-width: 100%;
  height: 432px;
  padding-top: 72px;
  padding-bottom: 72px;
}

.h-one {
  max-width: 216px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 72px;
  margin-right: auto;
  margin-left: auto;
}

.service-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
}

@media screen and (min-width: 768px) {
  .section-one {
    height: 436px;
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .h-one {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .section-one {
    height: 600px;
    padding-top: 188px;
    padding-bottom: 188px;
  }

  .h-one {
    margin-bottom: 48px;
  }
}

/* SECTION-TWO */

@media screen and (max-width: 1157px) {
  .ourstudio-svg {
    display: none;
  }
}

.section-two {
  padding: 96px 16px;
}

.our-studio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
.our-studio-list-item {
  width: 100%;
}

.studio-list {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.studio-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .our-studio-list {
    gap: 72px 24px;
  }

  .our-studio-list-item {
    width: calc((100% - 24px) / 2);
  }

  .studio-list {
    text-align: start;
  }
}

@media screen and (min-width: 1158px) {
  .section-two {
    padding: 120px 0;
  }

  .ourstudio-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
  }

  .our-studio-list {
    gap: 24px;
    justify-content: space-between;
  }

  .our-studio-list-item {
    width: calc((100% - 72px) / 4);
  }

  .studio-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .studio-text {
    font-weight: 400;
  }
}
